body {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f0ece2;
}

.calender {
  margin: auto;
  width: 50%;
  min-width: 600px;
  background-color: white;
  box-shadow: 0px 0px 15px rgb(105, 119, 155, 0.8);
}

.month {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #69779b;
  color: #ffffff;
  padding: 40px 30px
}

.month h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  margin-bottom: 6px;
}

.month p {
  font-family: 'Ibarra Real Nova', serif;
}

.week-days {
  display: flex;
  width: 100%;
  background-color: #010101;
  color: #acdbdf;
  padding: 15px 0px;
  font-family: 'Ibarra Real Nova', serif;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.week-days div,
.days div {
  width: 14.28%;
  text-align: center;
}

.days div {
  font-size: 1.4em;
  margin: 4px 0;
  padding: 10px 0;
  transition: all 0.4s;
}

.days div:hover {
  background-color: #f0ece2
}

.holiday {
  background-color: #acdbdf
}

.prev-date {
  color: #999;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: all 0.4s;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.current {
  background-color: #010101;
  color: #acdbdf;
}

.current:hover {
  color: black;
}

.days .holiday-info {
  display: none;
}

.fancybox__content {
  color: #fdb87d;
  background-color: #222831;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(34, 40, 49, 0.4);
  position: relative;
}

.fancybox__container {
  --fancybox-bg: rgba(193, 201, 210, 0.7);
}
.fancybox__content > .carousel__button.is-close {
  position: absolute;
  top: 0;
  left: 0;
}

.holiday-info h3 {
  font-family: 'Dosis', sans-serif;
}
